.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: row;
}

@media (max-width: 720px){
    .container{
        flex-direction: column;
    }
}
